<!doctype html>
<html>
  <head>
    <title>Japanese Conjugations</title>
    <link rel="shortcut icon" href="https://cdn.glitch.com/fe0612b0-5d84-4b23-8faa-9969138860bf%2Ffavicon.ico?1499777044345" type="image/x-icon">
    <link rel="icon" href="https://cdn.glitch.com/fe0612b0-5d84-4b23-8faa-9969138860bf%2Ffavicon.ico?1499777044345" type="image/x-icon">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <p>What is the {{conjugation}} conjugation of {{plain}} ({{kana}})?</p>
    <form action="/check" method="get">
      <input type="text" name="guess" autofocus>
      <input name="conjugation" value="{{conjugation}}" type="hidden">
      <input name="plain" value="{{plain}}" type="hidden">
      <button type="submit">submit</button>
    </form>
  </body>
</html>