<!doctype html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <p>What is the {{conjugation}} conjugation of {{plain}} ({{kana}})?</p>
    <form method="get" action="/check">
      <input type="text" name="guess" autofocus>
      <input name="conjugation" value="{{conjugation}}" type="hidden">
      <input name="plain" value="{{plain}}" type="hidden">
      <button type="submit">submit</button>
    </form>
  </body>
</html>